.mainContainer{
    height: 630px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
    border-radius: 10px !important;
    box-shadow: var(--box-shadow-1) !important;
}

.head{
    text-transform: uppercase;
    margin: 20px;
}

.skillRow{
    width: 80%;
    height: 140px;
    text-align: center;
}

.skillRow img{
    width: 48px;
    margin: 5px;
}
@media screen and (max-width: 500px) {

    .skillRow img{
        width: 32px;
    }
}
