.pageBannerContainer{

  background-image: url("");
    filter: blur(2px);

}

#bodyContainer{
  height: 80%;
  width: 100%;
}

#bannerText{
  font-size: 75px;
  color:white;
  position: absolute;
  top: 20%;
  left: 60%;

}
#formContainer {
  margin: auto;
  height: 90%;
  width: 50%; 
  /*background-color: red;*/

}
#formHeader{
  font-size: 200%;
  position: absolute;
  top: 25%;
}
#formTextInputs{
  font-size: 120%;
  position: absolute;
  top: 32%;
  width: 50%;
}
#subButton{
  text-align: center;
  padding-top: 5%;
}
#messageForm{
  height: 100px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 1s;

}
input[type=submit] {
  width: 20%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
input[type=submit]:hover {
  background-color: grey;
}