.pageBannerContainer{

    background-image: url("bannerSoft.jpg");
}

#bodyContainer{
  height: 700px;
  width: 100%;
}
.comingSoon{
  text-align: center;
  color:black;
  position: relative;
  top: 40%;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
