.mainContainer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.linkRow a{
    color: white !important;
    margin: 15px !important;
    text-decoration: underline !important;

}

.socialRow img{
    margin: 15px !important;
    width: 32px !important;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.socialRow{
    margin-top: 20px;
    margin-bottom: 20px;

}
@media screen and (max-width: 600px) {
    .linkRow a{
        margin: 5px !important;
    }
}