.mainContainer{
    display: flex !important; 
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: 600px !important;
    width: 100% !important;
}
