:root {
    --main-bg-color-1: #E8F7FB;
    --main-bg-color-2: white;
    --main-secondary-1: #EA6D0C;
}



*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/**Should probably go into its own button class*/
a{
    color: black !important;
    margin: 3px !important;
}

.containedButton{
    background-color: var(--main-secondary-1) !important;
    color: white !important;
}