:root {
    --main-bg-color-1: #E8F7FB;
    --main-bg-color-2: white;
    --main-secondary-1: #f86604;
    --main-secondary-2: grey;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/**Should probably go into its own button class*/
a{
    color: black !important;
    margin: 3px !important;
}
