:root {
    --main-bg-color-1: #E8F7FB;
    --main-bg-color-2: white;
    --main-secondary-1: #f86604;
    --main-secondary-2: grey;

    --box-shadow-1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    --box-shadow-2: rgba(149, 157, 165, 0.8) 0px 8px 24px;

}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/**Should probably go into its own button class*/
a{
    color: black !important;
    margin: 3px !important;
}
