.mainBannerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.header{
    text-transform: uppercase;
    margin-top: 50px;
}
.projectRow{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    box-shadow: var(--box-shadow-1);
    background: linear-gradient(to left, rgb(212, 171, 241,0.5) , rgb(248, 102, 4,0.3));
    border-radius: 10px;
}
.car{
    height: 500px;
    z-index: 100;
}
.carRow{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px){
    .car{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}