.secondaryContainer{
    height: 120px;
    width: 400px;
    border-radius: 10px !important;
    box-shadow: var(--box-shadow-1) !important;
    margin: 10px;
    transition: 0.3s;
    z-index: 3;
    cursor: pointer;
}

.secondaryContainer:hover{
    box-shadow: var(--box-shadow-2) !important;
}

.gradient{
    height: 140px;
    width: 420px;
    background-image: linear-gradient(to left, rgb(212, 171, 241,0.3) , rgb(248, 102, 4,0.2));
    position: absolute;
    bottom: 1;
    margin-bottom: 23%;
    border-radius: 10px;
    z-index: 2;
    transition: 0.3s;
}